<md-dialog class="Estimate-dialog" aria-label="New Message">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" translate="PROJECT.ESTIMATE">Estimate</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="PROJECT.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="row" layout-wrap>
                <div flex="50">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ESTIMATE_PRICE">Price</label>
                        <input type="number" ng-model="budgetData.Price">
                    </md-input-container>
                </div>
                <div flex="25">
                    <div class="inset text-center switchdemoBasicUsage">Include Vat
                    </div>
                </div>
                <div flex="25">
                    <md-switch style="margin-top: 7px;" ng-model="budgetData.IsIncludeVat" ng-click="onChange()">
                    </md-switch>
                    {{data.cb1}}
                </div>
            </div>
            <div layout="row" layout-wrap>
                <div flex="100">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ESTIMATE_BUDGET">Budget</label>
                        <input type="number" ng-model="budgetData.Budget">
                    </md-input-container>
                </div>
            </div>
            <div class="table-title attention-title">
                <strong translate="PROJECT.PERIOD">Period</strong>
            </div>
            <!-- test -->
            <div layout="column" layout-gt-xs="row">
                <div flex="100" class="text-right" style="margin-top: -70px;">
                    <md-button class="add-file-button md-fab md-warn" ng-click="addEstimate()">
                        <md-icon md-font-icon="icon-plus"></md-icon>
                    </md-button>
                </div>
            </div>
            <br>
            <!--  -->
            <div layout="row" layout-wrap ng-show="estimateStatus">
                <div flex="20">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ESTIMATE_ORDER">Order</label>
                        <input type="text">
                    </md-input-container>
                </div>
                <div flex="30">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ESTIMATE_DESCRIPTION">Description</label>
                        <textarea></textarea>
                    </md-input-container>
                </div>
                <div flex="20">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ESTIMATE_PERCENT%">Percent%</label>
                        <textarea></textarea>
                    </md-input-container>
                </div>
                <div flex="20">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ESTIMATE_AMOUNT">Amount</label>
                        <textarea></textarea>
                    </md-input-container>
                </div>
                <div flex="10" class="text-right" style="margin-top: -10px;">
                    <md-button class="md-icon-button md-accent icon-attention" aria-label="PROJECT.ATTENTION" translate-attr-aria-label="PROJECT.ATTENTION">
                        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        <md-tooltip><span translate="PROJECT.ATTENTION"></span></md-tooltip>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.closeDialog(); sendEstimate();" class="send-button md-accent md-raised" aria-label="PROJECT.DONE" translate="PROJECT.DONE" translate-attr-aria-label="PROJECT.DONE">
                    DONE
                </md-button>
            </div>
            <div layout="row">
                <md-button class="md-icon-button" aria-label="Delete" translate-attr-aria-label="PROJECT.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="PROJECT.DELETE"></span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
