<md-dialog class="UploadFiledialog" aria-label="New Message">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" translate="">Upload File</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="PROJECT.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="row" layout-wrap>
                <div flex="100">
                    <md-input-container class="md-block input-project">
                        <label translate="">File Name</label>
                        <input type="text" ng-model="file_name">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-wrap>
                <div flex="100">
                    <!--                             <md-button class="md-icon-button" aria-label="" translate-attr-aria-label="PROJECT.add" ngf-select="upload($file)">
                                <md-icon md-font-icon="icon-folder-outline"></md-icon>
                            </md-button> -->
                    <!-- <input id="fileInput" type="file"> -->
                    <lf-ng-md-file-input lf-files="files"></lf-ng-md-file-input>
                </div>
            </div>
            <label ng-class="{'file-size' : checkFileSize == true}">Attachments larger than 25MB.</label>
            <br>
            <label ng-class="{'file-size' : checkFileType == true}" ng-show="checkFileType">".{{types}} " files are not uploaded.</label>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="uploadFile()" class="send-button md-accent md-raised" aria-label="PROJECT.DONE" translate="PROJECT.DONE" translate-attr-aria-label="DPROJECT.DONENE" ng-disabled="checkFileSize || checkFileType">
                    DONE
                </md-button>
            </div>
            <!--             <div layout="row">
                <md-button class="md-icon-button" aria-label="Delete" translate-attr-aria-label="PROJECT.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="PROJECT.DELETE"></span></md-tooltip>
                </md-button>
            </div> -->
        </md-dialog-actions>
    </form>
</md-dialog>
