<md-dialog class="AddCost-dialog" aria-label="New Message">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" translate="PROJECT.ADDCOST_ADDCOST">Add Cost</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="PROJECT.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="row" layout-wrap>
                <div flex="100">
                    <md-input-container class="md-block input-project">
                        <md-select ng-model="selectName">
                            <md-option ng-repeat="name in optionName" value="{{name}}">
                                {{name.Name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <br>
            <strong translate="PROJECT.ADDCOST_DETAIL">Detail</strong>
            <div layout="row" layout-wrap>
                <div flex="55">
                    <md-input-container class="md-block input-project ">
                        <md-select ng-model="addCost.CostDesc
">
                            <md-option ng-repeat="type in optionType" value="{{type}}">
                                {{type}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                &nbsp; &nbsp;&nbsp;
                <div flex="10">
                    <div class="form-chkbox">
                        <label translate="PROJECT.ADDCOST_DATE">Date</label>
                    </div>
                </div>
                <div flex="25">
                    <md-datepicker ng-model="addCost.CostDate" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
            <br>
            <div layout="row" layout-wrap>
                <div flex="30">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ADDCOST_AMOUNT">Amount</label>
                        <input type="number" ng-model="addCost.CostAmount">
                    </md-input-container>
                </div>
                <div flex="25">
                    <div class="inset text-center switchdemoBasicUsage">หักภาษี ณ ที่จ่าย
                    </div>
                </div>
                <div flex="15">
                    <md-switch style="margin-top: 7px;" ng-model="addCost.IsTax">
                    </md-switch>
                </div>
                <div flex="30">
                    <div class="text-left">
                        <input id="fileInput" type="file">
                    </div>
                </div>
            </div>
            <div layout="row" layout-wrap>
                <div flex="70">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ADDCOST_NAME">Name</label>
                        <input type="text" ng-model="addCost.CostName">
                    </md-input-container>
                </div>
                <div flex="30">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ADDCOST_NO">No.</label>
                        <input type="text" ng-model="addCost.CostNoTax">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-wrap>
                <div flex="100">
                    <md-input-container class="md-block input-project">
                        <label translate="PROJECT.ADDCOST_ADDRESS">Address</label>
                        <input type="text" ng-model="addCost.CostAdd">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="sendCost()" class="send-button md-accent md-raised" aria-label="PROJECT.DONE" translate="PROJECT.DONE" translate-attr-aria-label="DPROJECT.DONENE">
                    DONE
                </md-button>
            </div>
            <div layout="row">
                <md-button class="md-icon-button" aria-label="Delete" translate-attr-aria-label="PROJECT.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="PROJECT.DELETE"></span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
