<!-- MAIL LIST ITEMS -->
<div class="mail-list-item" ng-repeat="project in vm.projectData | filter:searchProject.search || { ProjectStatus : filterStatus.filter }" md-ink-ripple ng-click="vm.selectProject(project)" ng-class="{'selected': vm.selectedProject === project}">
    <div layout="row" layout-align="start center">
        <md-checkbox class="no-label" ng-checked="vm.isChecked(project)" ng-click="vm.toggleCheck(project, $event)" aria-label="{{vm.isChecked(project)? 'Uncheck':'check'}}">
        </md-checkbox>
        <div class="info" flex layout="column">
            <div layout="row" layout-align="start center">
                <!-- กราฟ -->
                <div flex="55">
                    <div layout="row" layout-wrap>
                        <div flex="30" class="text-center margin-top5">
                            <md-icon class="icon-status icon-green" md-font-icon="icon-play-circle" ng-show="project.ProjectStatus == 'Play'"></md-icon>
                            <md-icon class="icon-status icon-yellow" md-font-icon="icon-pause-circle" ng-show="project.ProjectStatus == 'Pause'"></md-icon>
                            <md-icon class="icon-status icon-clam" md-font-icon="icon-checkbox-marked-circle" ng-show="project.ProjectStatus == 'Pass'"></md-icon>
                            <md-icon class="icon-status icon-red" md-font-icon="icon-cancel" ng-show="project.ProjectStatus == 'Cancel'"></md-icon>
                        </div>
                        <div flex="70">
                            <div>
                                <label class="name">Project {{project.ProjectCode}}</label>
                            </div>
                            <div>
                                <label class="text-truncate">{{project.ProjectName}}</label>
                            </div>
                            <div>
                                <label class="text-truncate">{{project.CustomerInfo.CompanyName}}</label>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-wrap>
                        <div flex="40" ng-repeat="item in costProgress" ng-show="item.name == project.ProjectCode">
                            <br> Cost ({{item.progress | number:0}}%)
                            <md-progress-linear ng-class="{'md-green' : item.progress < 30 ,' md-yellow': item.progress < 70 , 'md-orange' : item.progress >= 70}" md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
                            <!-- md-accent ฟ้า md-warn แดง-->
                        </div> &nbsp; &nbsp; &nbsp; &nbsp;
                        <div flex="40" ng-repeat="item in receiptProgress" ng-show="item.name == project.ProjectCode">
                            <br> Receipt ({{item.progress | number:0}}%)
                            <md-progress-linear ng-class="{'md-orange' : item.progress < 30 ,' md-yellow': item.progress < 70 , 'md-green' : item.progress >= 70}" md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
                            <!-- md-accent ฟ้า md-warn แดง-->
                        </div>
                        <!--                         <div flex="40">
                            <br> Receipt (65%)
                            <md-progress-linear class="md-yellow" md-mode="determinate" value="50"></md-progress-linear>
                        </div> -->
                    </div>
                    <!-- กราฟ cost receipt -->
                </div>
                <div flex="20" ng-repeat="can in vm.doughnutChartTime" ng-show="can.name == project.ProjectCode">
                    <canvas id="doughnut" class="chart chart-doughnut chart-do-70" chart-data="can.data" chart-labels="can.labels" chart-options="options" chart-colours="can.color"></canvas>
                    <div class="icon-chart">
                        <md-icon ng-class="{'color-green' : can.status == 'Good', 'color-yellow' : can.status == 'Normal','color-red' : can.status == 'Bad'}" md-font-icon="icon-calendar-clock"></md-icon>
                    </div>
                </div>
                <!-- กราฟ -->
                <div flex="25" class="margin-top-35">
                    <canvas ng-repeat="canPro in doughnutChartProcess" ng-show="canPro.name == project.ProjectCode" id="doughnut" class="chart chart-doughnut chart-do-90" chart-data="canPro.data" chart-labels="canPro.labels" chart-options="options" chart-colours="canPro.color"></canvas>
                    <div class="icon-chart-process">
                        <md-icon class="font-size-100 color-clam" md-font-icon="icon-margin"></md-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
