<div class="info" layout="row">
    <div flex="70">
        <div layout="row" layout-wrap>
            <p>
                <label>
                    <h1><strong>{{vm.selectedProject.ProjectCode}}</strong></h1></label>
                <br>
                <label>{{vm.selectedProject.CustomerInfo.CompanyName}}</label>
                <div layout="row" layout-wrap>
                    <!-- ปุ่ม -->
                    <md-button class="md-icon-button" aria-label="Archive" translate translate-attr-aria-label="PROJECT.PLAY" hide show-gt-sm>
                        <md-icon md-font-icon="icon-play-circle"></md-icon>
                        <md-tooltip><span translate="PROJECT.PLAY">Play</span></md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Spam" translate translate-attr-aria-label="PROJECT.PAUSE" hide show-gt-sm>
                        <md-icon md-font-icon="icon-pause-circle"></md-icon>
                        <md-tooltip><span translate="PROJECT.PAUSE">Pause</span></md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete" translate translate-attr-aria-label="PROJECT.PASS" hide show-gt-sm>
                        <md-icon md-font-icon="icon-checkbox-marked-circle"></md-icon>
                        <md-tooltip><span translate="PROJECT.PASS">Pass</span></md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete" translate translate-attr-aria-label="PROJECT.CANCEL" hide show-gt-sm>
                        <md-icon md-font-icon="icon-cancel"></md-icon>
                        <md-tooltip><span translate="PROJECT.CANCEL">Cancel</span></md-tooltip>
                    </md-button>
                </div>
                <div layout="row" layout-wrap>
                    <!-- คน -->
                    <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="" hide show-gt-sm>
                        <md-icon md-font-icon="icon-account"></md-icon>
                        <md-tooltip><span translate="">1</span></md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="" hide show-gt-sm>
                        <md-icon md-font-icon="icon-account"></md-icon>
                        <md-tooltip><span translate="">2</span></md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="" hide show-gt-sm>
                        <md-icon md-font-icon="icon-account"></md-icon>
                        <md-tooltip><span translate="">3</span></md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="" hide show-gt-sm>
                        <md-icon md-font-icon="icon-account"></md-icon>
                        <md-tooltip><span translate="">4</span></md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="" hide show-gt-sm>
                        <md-icon md-font-icon="icon-account"></md-icon>
                        <md-tooltip><span translate="">5</span></md-tooltip>
                    </md-button>
                </div>
        </div>
    </div>
    <div flex="30">
        <div>
            <canvas id="doughnut" class="chart chart-doughnut chart-do-100" chart-data="vm.doughnutChart.data" chart-labels="vm.doughnutChart.labels"></canvas>
        </div>
    </div>
    <md-menu>
        <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)" translate translate-aria-label="PROJECT.MORE">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            <md-tooltip><span translate="PROJECT.MORE"></span></md-tooltip>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button aria-label="Estimate" translate-aria-label="MAIL.REPLY" ng-click="vm.EstimateDialog($event)">
                    <md-icon md-font-icon="icon-auto-fix"></md-icon>
                    <span translate="">Estimate</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Archive" translate-aria-label="MAIL.ARCHIVE" ng-click="vm.composeDialog($event)">
                    <md-icon md-font-icon="icon-file-document"></md-icon>
                    <span translate="">Quotation</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Spam" translate-aria-label="MAIL.SPAM" ng-click="vm.UploadpoDialog($event)">
                    <md-icon md-font-icon="icon-attachment"></md-icon>
                    <span translate="">Upload PO</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Delete" translate-aria-label="MAIL.DELETE">
                    <md-icon md-font-icon="icon-account-location"></md-icon>
                    <span translate="">Task</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Mark as unread" translate-aria-label="MAIL.MARK_AS_UNREAD" ng-click="vm.AddCostDialog($event)">
                    <md-icon md-font-icon="icon-cash"></md-icon>
                    <span translate="">Cost</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<hr color=DDDDDD size=1>
<div flex="70">
    <div layout="row" layout-wrap>
        <a href="" ng-click="finance()">Finance</a>
        <div class="divider-vertical"></div>
        <a href="" ng-click="documents()">Document</a>
        <div class="divider-vertical"></div>
        <a href="" ng-click="scopeOfWork()">Scope of Work</a>
        <br>
    </div>
</div>
<div ng-show="financeStatus">
    <br>
    <h2 style="text-align:center;"><strong>Price: {{vm.selectedProject.BudgetInfo.Price}}</strong></h2>
    <div layout="row" layout-wrap>
        <div flex="30">
            <div>
                <canvas id="doughnut" class="chart chart-doughnut chart-do-100" chart-data="vm.doughnutChart.data" chart-labels="vm.doughnutChart.labels"></canvas>
            </div>
        </div>
        <div flex="70">
            <ul>
                <li>Budget:{{vm.selectedProject.BudgetInfo.Budget}}</li>
                <li>Cost:60,000</li>
            </ul>
            <div class="simple-table-container md-whiteframe-4dp">
                <table class="simple" ms-responsive-table>
                    <thead>
                        <tr style="background-color: #c5c5c5;">
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tfoot ng-repeat="cost in vm.selectedProject.CostInfo">
                        <tr>
                            <td>
                                <p class="text-date">{{cost.CostDate | date:'dd/MM/yy'}}</p>
                            </td>
                            <td>{{cost.CostDesc}}</td>
                            <td>{{cost.CostAmount}} บาท</td>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="text-right"><a href="">More >></a></div>
        </div>
    </div>
    <hr color=DDDDDD size=1>
    <div layout="row" layout-wrap>
        <div flex="30">
            <div>
                <canvas id="doughnut" class="chart chart-doughnut chart-do-100" chart-data="vm.doughnutChart.data" chart-labels="vm.doughnutChart.labels"></canvas>
            </div>
        </div>
        <div flex="70">
            <ul>
                <li>Price:{{vm.selectedProject.BudgetInfo.Price}}</li>
                <li>Receipt:90,000</li>
            </ul>
            <div class="simple-table-container md-whiteframe-4dp">
                <table class="simple" ms-responsive-table>
                    <thead>
                        <tr style="background-color: #c5c5c5;">
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Percent</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>1 / 6 / 16</td>
                            <td>ค่าน้ำมัน</td>
                            <td>500 บาท</td>
                            <td>30 %</td>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="text-right"><a href="">More >></a></div>
        </div>
    </div>
    <hr color=DDDDDD size=1>
    <!-- <div layout="row" layout-wrap>
             <div flex="70"> -->
    <h2><strong><span >Price:{{vm.selectedProject.BudgetInfo.Price}}</span></strong></h2>
    <br>
  
    <div ng-repeat="period in vm.selectedProject.PeriodInfo">
        <div layout="row" layout-wrap>
            <label> Period {{period.PeriodID}} : {{period.PeriodAmout}}(30%) = {{period.PeriodDesc}} </label>
        </div>
        <div layout="row" layout-wrap>
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" style="background-color: rgb(EEEEEE);" aria-label="Service Invoice" ng-click="" translate="Service Invoice">Service Invoice
                </div>
            </div>
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" style="background-color: rgb(EEEEEE);" aria-label="Appointment" ng-click="vm.UploadAppointment($event)" translate="Appointment">Appointment
                </div>
            </div>
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" style="background-color: rgb(EEEEEE);" aria-label="Tax Invoice" ng-click="" translate="Tax Invoice">Tax Invoice
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="documentStatus">
    <h2><strong><label >Finance Document</label></strong></h2>
    <div class="simple-table-container md-whiteframe-4dp">
        <table class="simple" ms-responsive-table>
            <thead>
                <tr style="background-color: #c5c5c5;">
                    <th>Document</th>
                    <th>Date</th>
                    <th>File</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>Quotation</td>
                    <td>01/01/16</td>
                    <td>
                        <form name="myForm">
                            <input type="checkbox">
                            <label translate=""></label>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Purchase Order</td>
                    <td>12/06/16</td>
                    <td>
                        <form name="myForm">
                            <input type="checkbox">
                            <label translate=""></label>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <br>
    <h2><strong><label>Project Document</label></strong></h2>
    <div class="simple-table-container md-whiteframe-4dp">
        <table class="simple" ms-responsive-table>
            <thead>
                <tr style="background-color: #c5c5c5;">
                    <th>Document</th>
                    <th>Date</th>
                    <th>File</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>SRS</td>
                    <td>22/04/16</td>
                    <td>
                        <form name="myForm">
                            <input type="checkbox">
                            <label translate=""></label>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div ng-show="scopeOfWorkStatus">
    <!-- <br>
    <br>
    <h3><label>Project Document</label></h3>
    <ul>
        <h3>ค่าจ้างพัฒนาระบบ ( KK -CQC Project)</h3> โดยมีรายละเอียดการดำเนินการงาน ดังนี้
        <h3>Requirement Document   </h3>
        <li>ECR Documeny</li>
        <li>Specifidation Document </li>
        <h3>Development</h3>
        <h3>COC Web Application</h3>
        <h3><U><li>Ranking Search</li></U></h3>
        <li>สามารถแสดงข้อมูล ranking </li>
        <li>สามารถจัดลำดับขึ้นลงได้ (ยกเว้นลำดับแรกและลำดับสุดท้าย) </li>
        <h3><U><li>Ranking Management</li></U></h3>
        <li>สามารถแก้ไขชื่อลำดับและวันที่ข้ามอย่างเดียวในลำดับแรก </li>
        และลำดับสุดท้าย
        <li>สามารถเพิ่ม,แก้ไขข้อมูล Ranking แทรกระหว่างลำดับแรก </li>
        และลำดับสุดท้ายได้ โดยประกอบด้วยข้อมูลรายละเอียดดังนี้ ลำดับที่(auto ลำดับก่อนสดท้าย),ชื่อลำดับ,List รายการ Campaign(มากกว่า 1), List รายการ Deler (มากกว่า 1 หรือ สามารถเลือกเป็น All Dealer ได้ )
        <h3><U><li>เพิ่ม Field แสดง Product,Dealer ที่หน้า Monitoring</li></U></h3>
        <li>เพิ่ม Field ใน db แล้วแสดงบนหน้าจอ </li>
        <h3>SLM Web Application </h3>
        <h3> <U><li>Upload Lead Search  </li> </U>  </h3>
        <li>สามารถแสดงผลการนำเข้าข้อมูล Lead และสถานะการ Upload</li>
        และผลการUpload (Summary รายการ Completed/Uncompleted )
        <h3><U> <li>Upload Lead Management</li></U>   </h3>
        <li>สามารถ Upload และนำเข้าข้อมูลผ่าน Excel ได้ </li>
        <li>สามารถ Preview ข้อมูลรายละเอียดข้อมูลก่อนบันทึก</li>
        <li>สามารถตรวจสอบรายละเอียดของข้อมูลตามเงือนไขที่กำหนดได้ </li>
        <li>สามารถแสดงสถานะการตรวจสอบรายละเอียดข้อมูลพร้อมคำแนะนำ </li>
        <li>สามารถ Exprot ข้อมูลที่นำเข้าออกเป็น Excel ไฟล์เพื่อนำแก้ไขได้ </li>
        <li> สามารถบันทึกข้อมูลการนำเข้าได้ (สถานะ Submit ) </li>
        <h3><U>  <li> Upload Lead Monitoring </li>     </U></h3>
        <li> หน้าติดตามงานที่ถูก Uploadแล้ว(Edit ได้บางสถานะไฟล์) </li>
        <h3> Payment </h3>
        <li> งวดที่ 1 100% = Sit</li>
    </ul> -->
    <br>
    <div ng-repeat="SOW in vm.selectedProject.ScopeInfo">
      
            <h3><strong>{{SOW.Topic}}</strong></h3>
            <h5>- {{SOW.Detail}}</h5>
        
    </div>
</div>
