<div class="info" layout="row">
    <div flex="70">
        <div layout="row" layout-wrap>
            <label>
                <h1><strong>{{vm.selectedProject.ProjectCode}}</strong></h1>
            </label>
        </div>
        <div layout="row" layout-wrap>
            <label>{{vm.selectedProject.CustomerInfo.CompanyName}}</label>
        </div>
    </div>
    <div flex="30">
        <div>
            <canvas ng-repeat="canPro in vm.doughnutChartProcess" ng-show="canPro.name == vm.selectedProject.ProjectCode" id="doughnut" class="chart chart-doughnut chart-do-100" chart-data="canPro.data" chart-labels="canPro.labels" chart-options="options" chart-colours="canPro.color"></canvas>
        </div>
    </div>
    <md-menu>
        <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)" translate translate-aria-label="PROJECT.MORE">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            <md-tooltip><span translate="PROJECT.MORE"></span></md-tooltip>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button aria-label="Estimate" translate-aria-label="MAIL.REPLY" ng-click="vm.EstimateDialog($event)">
                    <md-icon md-font-icon="icon-auto-fix"></md-icon>
                    <span translate="">Estimate</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Archive" translate-aria-label="MAIL.ARCHIVE" ng-click="vm.composeDialog($event)">
                    <md-icon md-font-icon="icon-file-document"></md-icon>
                    <span translate="">Quotation</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Spam" translate-aria-label="MAIL.SPAM" ng-click="vm.UploadpoDialog($event)">
                    <md-icon md-font-icon="icon-attachment"></md-icon>
                    <span translate="">Upload PO</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Delete" translate-aria-label="MAIL.DELETE">
                    <md-icon md-font-icon="icon-account-location"></md-icon>
                    <span translate="">Task</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Mark as unread" translate-aria-label="MAIL.MARK_AS_UNREAD" ng-click="vm.AddCostDialog($event)">
                    <md-icon md-font-icon="icon-cash"></md-icon>
                    <span translate="">Cost</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<div layout="row" layout-wrap>
    <!-- ปุ่ม -->
    <div flax="100">
        <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="PROJECT.PLAY">
            <md-icon md-font-icon="icon-play-circle" ng-class="{'icon-green' : vm.selectedProject.ProjectStatus == 'Play'}"></md-icon>
            <md-tooltip><span translate="PROJECT.PLAY">Play</span></md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="PROJECT.PAUSE">
            <md-icon md-font-icon="icon-pause-circle" ng-class="{'icon-puase' : vm.selectedProject.ProjectStatus == 'Pause'}"></md-icon>
            <md-tooltip><span translate="PROJECT.PAUSE">Pause</span></md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="PROJECT.PASS">
            <md-icon md-font-icon="icon-checkbox-marked-circle" ng-class="{'icon-clam' : vm.selectedProject.ProjectStatus == 'Pass'}"></md-icon>
            <md-tooltip><span translate="PROJECT.PASS">Pass</span></md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="PROJECT.CANCEL">
            <md-icon md-font-icon="icon-cancel" ng-class="{'icon-red' : vm.selectedProject.ProjectStatus == 'Cancel'}"></md-icon>
            <md-tooltip><span translate="PROJECT.CANCEL">Cancel</span></md-tooltip>
        </md-button>
    </div>
</div>
<div layout="row" layout-wrap>
    <!-- คน -->
    <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="">
        <md-icon md-font-icon="icon-account"></md-icon>
        <md-tooltip><span translate="">1</span></md-tooltip>
    </md-button>
</div>
<hr color=DDDDDD size=1>
<div flex="70">
    <div layout="row" layout-wrap>
        <a href="" ng-click="finance()">Finance</a>
        <div class="divider-vertical"></div>
        <a href="" ng-click="documents()">Document</a>
        <div class="divider-vertical"></div>
        <a href="" ng-click="scopeOfWork()">Scope of Work</a>
        <br>
    </div>
</div>
<div ng-show="financeStatus">
    <h1><strong>Price: {{vm.selectedProject.BudgetInfo.Price | number}}</strong></h1>
    <div layout="row" layout-wrap>
        <div flex="30">
            <div>
                <canvas id="doughnut" class="chart chart-doughnut chart-do-100" chart-data="vm.doughnutChart.data" chart-labels="vm.doughnutChart.labels"></canvas>
            </div>
        </div>
        <div flex="70">
            <ul>
                <li>Budget:{{vm.selectedProject.BudgetInfo.Budget | number}}</li>
                <li>Cost:60,000</li>
            </ul>
        </div>
    </div>
    <div layout="row" layout-wrap>
        <div class="simple-table-container md-whiteframe-2dp text-center">
            <table class="simple" ms-responsive-table>
                <thead>
                    <tr style="background-color: #c5c5c5;">
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tfoot ng-repeat="cost in vm.selectedProject.CostInfo">
                    <tr>
                        <td>
                            <p class="text-date">{{cost.CostDate | date:'dd/MM/yy'}}</p>
                        </td>
                        <td>{{cost.CostDesc}}</td>
                        <td>{{cost.CostAmount}} บาท</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div layout="row" class="text-right" layout-wrap>
        <div class="compose-button">
            <md-button class="md-accent md-raised" style="background-color: rgb(83, 230, 63);" aria-label="compose" translate="More">More
            </md-button>
        </div>
    </div>
    <hr color=DDDDDD size=1>
    <div layout="row" layout-wrap>
        <div flex="30">
            <div>
                <canvas id="doughnut" class="chart chart-doughnut chart-do-100" chart-data="vm.doughnutChart.data" chart-labels="vm.doughnutChart.labels"></canvas>
            </div>
        </div>
        <div flex="70">
            <ul>
                <li>Price:{{vm.selectedProject.BudgetInfo.Price | number}}</li>
                <li>Receipt:90,000</li>
            </ul>
        </div>
    </div>
    <div layout="row" class="text-right" layout-wrap>
        <div class="simple-table-container md-whiteframe-4dp">
            <table class="simple" ms-responsive-table>
                <thead>
                    <tr style="background-color: #c5c5c5;">
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Percent</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>1 / 6 / 16</td>
                        <td>ค่าน้ำมัน</td>
                        <td>500 บาท</td>
                        <td>30 %</td>
                    </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div layout="row" class="text-right" layout-wrap>
        <div class="compose-button">
            <md-button class="md-accent md-raised" style="background-color: rgb(83, 230, 63);" aria-label="compose" translate="More">More
            </md-button>
        </div>
    </div>
    <hr color=DDDDDD size=1>
    <!-- <div layout="row" layout-wrap>
             <div flex="70"> -->
    <h2><strong><span >Price:{{vm.selectedProject.BudgetInfo.Price | number}}</span></strong></h2>
    <br>
    <div ng-repeat="period in vm.selectedProject.PeriodInfo">
        <div layout="row" layout-wrap>
            <label> Period {{period.PeriodID}} : {{period.PeriodAmout}}(30%) = {{period.PeriodDesc}} </label>
        </div>
        <div layout="row" layout-wrap>
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" style="background-color: rgb(EEEEEE);" aria-label="Service Invoice" ng-click="" translate="Service Invoice">Service Invoice
                </div>
            </div>
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" style="background-color: rgb(EEEEEE);" aria-label="Appointment" ng-click="vm.UploadAppointment($event)" translate="Appointment">Appointment
                </div>
            </div>
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" style="background-color: rgb(EEEEEE);" aria-label="Tax Invoice" ng-click="" translate="Tax Invoice">Tax Invoice
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="documentStatus">
    <h2><strong><label >Finance Document</label></strong></h2>
    <div class="simple-table-container md-whiteframe-4dp">
        <table class="simple" ms-responsive-table>
            <thead>
                <tr style="background-color: #c5c5c5;">
                    <th>Document</th>
                    <th>Date</th>
                    <th>File</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>Quotation</td>
                    <td>01/01/16</td>
                    <td>
                        <form name="myForm">
                            <input type="checkbox">
                            <label translate=""></label>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Purchase Order</td>
                    <td>12/06/16</td>
                    <td>
                        <form name="myForm">
                            <input type="checkbox">
                            <label translate=""></label>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <br>
    <h2><strong><label>Project Document</label></strong></h2>
    <div class="simple-table-container md-whiteframe-4dp">
        <table class="simple" ms-responsive-table>
            <thead>
                <tr style="background-color: #c5c5c5;">
                    <th>Document</th>
                    <th>Date</th>
                    <th>File</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>SRS</td>
                    <td>22/04/16</td>
                    <td>
                        <form name="myForm">
                            <input type="checkbox">
                            <label translate=""></label>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div ng-show="scopeOfWorkStatus">
    <br>
    <div ng-repeat="SOW in vm.selectedProject.ScopeInfo">
        <h3><strong>{{SOW.Topic}}</strong></h3>
        <h5>- {{SOW.Detail}}</h5>
    </div>
</div>
