<div class="info" layout="row">
    <div flex="70">
        <div layout="row" layout-wrap>
            <label>
                <h1><strong>{{vm.selectedProject.ProjectCode}}</strong></h1>
            </label>
        </div>
        <div layout="row" layout-wrap>
            <label>{{vm.selectedProject.CustomerInfo.CompanyName}}</label>
        </div>
    </div>
    <div flex="30">
        <div>
            <canvas id="doughnut" class="chart chart-doughnut chart-do-120" chart-data="progressChartBySelectProject.data" chart-labels="progressChartBySelectProject.labels" chart-options="options" chart-colours="progressChartBySelectProject.color"></canvas>
        </div>
    </div>
    <md-menu>
        <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)" translate translate-aria-label="PROJECT.MORE">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            <md-tooltip><span translate="PROJECT.MORE"></span></md-tooltip>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button aria-label="Estimate" translate-aria-label="MAIL.REPLY" ng-click="vm.EstimateDialog($event)">
                    <md-icon md-font-icon="icon-auto-fix"></md-icon>
                    <span translate="">Estimate</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Archive" translate-aria-label="MAIL.ARCHIVE" ng-click="vm.composeDialog($event)">
                    <md-icon md-font-icon="icon-file-document"></md-icon>
                    <span translate="">Quotation</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Spam" translate-aria-label="MAIL.SPAM" ng-click="vm.UploadpoDialog($event)">
                    <md-icon md-font-icon="icon-attachment"></md-icon>
                    <span translate="">Upload PO</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Delete" translate-aria-label="MAIL.DELETE">
                    <md-icon md-font-icon="icon-account-location"></md-icon>
                    <span translate="">Task</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Mark as unread" translate-aria-label="MAIL.MARK_AS_UNREAD" ng-click="vm.AddCostDialog($event)">
                    <md-icon md-font-icon="icon-cash"></md-icon>
                    <span translate="">Cost</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button aria-label="Mark as unread" translate-aria-label="" ng-click="vm.EditDialog($event)">
                    <md-icon md-font-icon="icon-border-color"></md-icon>
                    <span translate="">Edit Project</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<div layout="row" layout-wrap>
    <!-- ปุ่ม -->
    <div flax="100">
        <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="PROJECT.PLAY">
            <md-icon md-font-icon="icon-play-circle" ng-class="{'icon-green' : vm.selectedProject.ProjectStatus == 'Play'}"></md-icon>
            <md-tooltip><span translate="PROJECT.PLAY">Play</span></md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="PROJECT.PAUSE">
            <md-icon md-font-icon="icon-pause-circle" ng-class="{'icon-yellow' : vm.selectedProject.ProjectStatus == 'Pause'}"></md-icon>
            <md-tooltip><span translate="PROJECT.PAUSE">Pause</span></md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="PROJECT.PASS">
            <md-icon md-font-icon="icon-checkbox-marked-circle" ng-class="{'icon-clam' : vm.selectedProject.ProjectStatus == 'Pass'}"></md-icon>
            <md-tooltip><span translate="PROJECT.PASS">Pass</span></md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="PROJECT.CANCEL">
            <md-icon md-font-icon="icon-cancel" ng-class="{'icon-red' : vm.selectedProject.ProjectStatus == 'Cancel'}"></md-icon>
            <md-tooltip><span translate="PROJECT.CANCEL">Cancel</span></md-tooltip>
        </md-button>
    </div>
</div>
<div layout="row" layout-wrap>
    <!-- คน -->
    <md-button class="md-icon-button" aria-label="" translate translate-attr-aria-label="">
        <md-icon md-font-icon="icon-account"></md-icon>
        <md-tooltip><span translate="">1</span></md-tooltip>
    </md-button>
</div>
<hr color=DDDDDD size=1>
<div flex="70">
    <div layout="row" layout-wrap>
        <a href="" ng-click="finance()">Finance</a>
        <div class="divider-vertical"></div>
        <a href="" ng-click="documents()">Document</a>
        <div class="divider-vertical"></div>
        <a href="" ng-click="scopeOfWork()">Scope of Work</a>
        <br>
    </div>
</div>
<div ng-show="financeStatus">
    <h1><strong>Price: {{vm.selectedProject.BudgetInfo.Price | number}}</strong></h1>
    <div layout="row" layout-wrap>
        <div flex="30">
            <div>
                <canvas id="doughnut" class="chart chart-doughnut chart-do-120" chart-data="doughnutChartBySelectProject.data" chart-labels="doughnutChartBySelectProject.labels" chart-options="options" chart-colours="doughnutChartBySelectProject.color"></canvas>
            </div>
        </div>
        <div flex="70">
            <ul>
                <li>Budget : {{vm.selectedProject.BudgetInfo.Budget | number}}</li>
                <li>Cost : {{costTotal | number}}</li>
            </ul>
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap>
        <table class="simple md-whiteframe-2dp">
            <thead style="background-color: #c5c5c5;">
                <tr>
                    <th class="text-left">Date</th>
                    <th class="text-left">Description</th>
                    <th class="text-center">Amount</th>
                </tr>
            </thead>
            <tfoot ng-repeat="cost in vm.selectedProject.CostInfo | orderBy:'CostDate' | limitTo: 5">
                <tr>
                    <td class="text-left">
                        <p>&nbsp; &nbsp; &nbsp; &nbsp;{{cost.CostDate | date:'dd/MM/yy'}}</p>
                    </td>
                    <td class="text-left">{{cost.CostDesc}}</td>
                    <td class="text-center">{{cost.CostAmount}} บาท&nbsp; &nbsp; &nbsp; &nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <br>
    <div layout="row" class="text-right" layout-wrap>
        <div class="compose-button">
            <md-button class="md-accent md-raised" style="background-color: rgb(83, 230, 63);" aria-label="compose" translate="More" ng-click="costsMore(event, vm.selectedProject.CostInfo)">More
            </md-button>
        </div>
    </div>
    <hr color=DDDDDD size=1>
    <div layout="row" layout-wrap>
        <div flex="30">
            <div>
                <canvas id="doughnut" class="chart chart-doughnut chart-do-120" chart-data="receiptChartBySelectProject.data" chart-labels="receiptChartBySelectProject.labels" chart-options="options" chart-colours="receiptChartBySelectProject.color"></canvas>
            </div>
        </div>
        <div flex="70">
            <ul>
                <li>Price:{{vm.selectedProject.BudgetInfo.Price | number}}</li>
                <li>Receipt:{{receiptTotal}}</li>
            </ul>
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap>
        <table class="simple md-whiteframe-2dp">
            <thead style="background-color: #c5c5c5;">
                <tr>
                    <th class="text-left">Date</th>
                    <th class="text-left">Description</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Percent</th>
                </tr>
            </thead>
            <tfoot ng-repeat="period in vm.selectedProject.PeriodInfo | filter:{PeriodStatus:'PERIOD_RECEIPTED'}">
                <tr>
                    <td class="text-left">
                        <p>&nbsp; &nbsp; &nbsp; &nbsp;{{period.ReceiptDate | date:'dd/MM/yy'}}</p>
                    </td>
                    <td class="text-center">{{period.PeriodDesc}}</td>
                    <td class="text-center">{{period.PeriodAmout}} บาท&nbsp; &nbsp; &nbsp; &nbsp;</td>
                    <td class="text-center">{{period.PeriodPercent}}%</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <br>
    <div layout="row" class="text-right" layout-wrap>
        <div class="compose-button">
            <md-button class="md-accent md-raised" style="background-color: rgb(83, 230, 63);" aria-label="compose" translate="More" ng-click="vm.receiptmore(event,vm.selectedProject.PeriodInfo)">More
            </md-button>
        </div>
    </div>
    <hr color=DDDDDD size=1>
    <!-- <div layout="row" layout-wrap>
             <div flex="70"> -->
    <h2><strong><span >Price:{{vm.selectedProject.BudgetInfo.Price | number}}</span></strong></h2>
    <br>
    <div ng-repeat="period in vm.selectedProject.PeriodInfo">
        <div layout="row" layout-wrap>
            <div flex="40">
                <label> Period {{period.PeriodOrder}} : {{period.PeriodAmout}}({{period.PeriodPercent}}%) = {{period.PeriodDesc}} </label>
            </div>
            <div flex="50">
                <md-button class="md-fab gry cot" ng-class="{'period-status-red' : period.PeriodStatus == 'PERIOD_SUCCESS' , 'period-status-yellow' : period.PeriodStatus == 'PERIOD_WAITING' ,'period-status-green' : period.PeriodStatus == 'PERIOD_RECEIPTED'}">
                    <md-tooltip><span translate="PROJECT.{{period.PeriodStatus}}">Cancel</span></md-tooltip>
                </md-button>
            </div>
            <div flex="10">
                <md-switch ng-disabled="period.PeriodStatus == 'PERIOD_WAITING' || period.PeriodStatus == 'PERIOD_RECEIPTED'" style="margin-top: -7px;" ng-checked="period.PeriodStatus" ng-click="updatePeriod(period,IsSuccess)">
                </md-switch>
            </div>
        </div>
        <div layout="row" layout-wrap ng-show="period.PeriodStatus">
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" style="background-color: rgb(EEEEEE);" aria-label="Service Invoice" ng-click="" translate="Service Invoice">Service Invoice
                </div>
            </div>
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" style="background-color: rgb(EEEEEE);" aria-label="Appointment" ng-click="vm.UploadAppointment($event , period)" translate="Appointment">Appointment
                </div>
            </div>
            <div flex="32">
                <div class="button">
                    <md-button class="md-raised" ng-disabled="period.PeriodStatus == 'PERIOD_SUCCESS'" style="background-color: rgb(EEEEEE);" aria-label="Tax Invoice" ng-click="taxInvoice(period)" translate="Tax Invoice">Tax Invoice
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>





<div ng-show="documentStatus">
    <div layout="row" layout-wrap>
        <h2><strong><label >Finance Document</label></strong></h2>
    </div>
    <div layout="row" layout-wrap>
        
            <table class="simple md-whiteframe-2dp">
                <thead>
                    <tr style="background-color: #c5c5c5;">
                        <th>Document</th>
                        <th>Date</th>
                        <th>File</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td class="text-center">Quotation</td>
                        <td>01/01/16</td>
                        <td>
                            <div class="text-left">
 <md-button class="md-icon-button" aria-label="" translate-attr-aria-label="PROJECT.add">
                    <md-icon md-font-icon="icon-folder-outline"></md-icon>
                    <md-tooltip><span translate=""></span></md-tooltip>
                </md-button>
                </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Purchase Order</td>
                        <td>12/06/16</td>
                        <td>
                           <div class="text-left">
 <md-button class="md-icon-button" aria-label="" translate-attr-aria-label="PROJECT.add">
                    <md-icon md-font-icon="icon-folder-outline"></md-icon>
                    <md-tooltip><span translate=""></span></md-tooltip>
                </md-button>
                </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div layout="row" layout-wrap>
        <h2><strong><label>Project Document</label></strong></h2>
    </div>
    <div layout="row" layout-wrap>
        
            <table class="simple md-whiteframe-2dp" >
                <thead>
                    <tr style="background-color: #c5c5c5;">
                        <th>Document</th>
                        <th>Date</th>
                        <th>File</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>SRS</td>
                        <td>22/04/16</td>
                        <td>

                        <div class="text-left">
 <md-button class="md-icon-button" aria-label="" translate-attr-aria-label="PROJECT.add">
                    <md-icon md-font-icon="icon-folder-outline"></md-icon>
                    <md-tooltip><span translate=""></span></md-tooltip>
                </md-button>
                </div>
                           









                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div layout="row" class="text-right" layout-wrap>
        <div class="compose-button">
            <md-button class="md-accent md-raised" style="background-color: rgb(83, 230, 63);" ng-click="vm.UploadFiledialog($event)" aria-label="compose" translate="">Upload File
            </md-button>
        </div>
    </div>
</div>
<div ng-show="scopeOfWorkStatus">
    <br>
    <div ng-repeat="SOW in vm.selectedProject.ScopeInfo">
        <h3><strong>{{SOW.Topic}}</strong></h3>
        <h5>- {{SOW.Detail}}</h5>
    </div>
</div>
