<md-dialog class="customer-dialog" aria-label="New Message">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" translate="">Customer</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="PROJECT.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="row" layout-wrap>
                <h3><strong>Client Company:</strong></h3>
            </div>
            <div layout="row" layout-wrap>
                <h3><strong>Company Address:</strong></h3>
            </div>
            <br>
            <div layout="row" layout-wrap>
                <table class="simple md-whiteframe-2dp">
                  <thead style="background-color: #c5c5c5;">
                    <tr>
                        <th>State</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Tel</th>
                        <th>E-mail</th>
                    </tr>
                     </thead>
                    <tr>
                        <td>Mexico</td>
                        <td>John</td>
                        <td>IT</td>
                        <td>02-9000000</td>
                        <td>Francisco@mail.com</td>
                    </tr>
                    <tr>
                        <td>Mexico</td>
                        <td>John</td>
                        <td>IT</td>
                        <td>02-9000000</td>
                        <td>Francisco@mail.com</td>
                    </tr>
                    <tr>
                        <td>Mexico</td>
                        <td>John</td>
                        <td>IT</td>
                        <td>02-9000000</td>
                        <td>Francisco@mail.com</td>
                    </tr>
                    <tr>
                        <td>Mexico</td>
                        <td>John</td>
                        <td>IT</td>
                        <td>02-9000000</td>
                        <td>Francisco@mail.com</td>
                    </tr>
                    <tr>
                        <td>Mexico</td>
                        <td>John</td>
                        <td>IT</td>
                        <td>02-9000000</td>
                        <td>Francisco@mail.com</td>
                    </tr>
                    <tr>
                        <td>Mexico</td>
                        <td>John</td>
                        <td>IT</td>
                        <td>02-9000000</td>
                        <td>Francisco@mail.com</td>
                    </tr>
                    <tr>
                        <td>Mexico</td>
                        <td>John</td>
                        <td>IT</td>
                        <td>02-9000000</td>
                        <td>Francisco@mail.com</td>
                    </tr>
                    <tr>
                        <td>Mexico</td>
                        <td>John</td>
                        <td>IT</td>
                        <td>02-9000000</td>
                        <td>Francisco@mail.com</td>
                    </tr>
                </table>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="uploadAppointment()" class="send-button md-accent md-raised" aria-label="PROJECT.DONE" translate="PROJECT.DONE" translate-attr-aria-label="DPROJECT.DONENE">
                    DONE
                </md-button>
            </div>
            <!--             <md-button class="md-icon-button" aria-label="Delete" translate-attr-aria-label="PROJECT.DELETE">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="PROJECT.DELETE"></span></md-tooltip>
            </md-button> -->
        </md-dialog-actions>
    </form>
</md-dialog>
