<md-dialog class="compose-dialog" aria-label="New Message">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="title" translate="PROJECT.NEW_PROJECT">New Project</span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="PROJECT.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <ms-form-wizard flex>
        <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
            <md-tab>
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                    <span class="ms-form-wizard-step-text" translate="PROJECT.PROJECT_INFORMATION">Project Information</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                        <div layout-gt-xs="row" flex>
                            <md-input-container flex="100" class="input-project">
                                <label translate="PROJECT.PROJECT_NAME">Project Name</label>
                                <input type="text" name="project_name" ng-model="vm.formWizard.project_name" required>
                                <div ng-messages="wizardStep1.project_name.$error" role="alert">
                                    <div ng-message="required">
                                        <span translate="PROJECT.PROJECT_NAME_ERR">Project Name field is required.</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" flex>
                            <md-input-container flex="70" class="input-project">
                                <label translate="PROJECT.PROJECT_CODE">Project Code</label>
                                <input type="text" name="project_code" ng-model="vm.formWizard.project_code" required>
                                <div ng-messages="wizardStep1.project_code.$error" role="alert">
                                    <div ng-message="required">
                                        <span translate="PROJECT.PROJECT_CODE_ERR">Project Code field is required.</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="30" class="input-project">
                                <label translate="PROJECT.DURATION">Duration</label>
                                <input type="number" name="duration" ng-model="vm.formWizard.duration">
                            </md-input-container>
                        </div>
                        <div class="table-title attention-title">
                            <strong translate="PROJECT.CLIENT">Client</strong>
                        </div>
                        <div layout="row" layout-wrap>
                            <div flex="100">
                                <md-input-container class="md-block input-project">
                                    <label translate="PROJECT.CLIENT_COMPANY">Client Company</label>
                                    <input type="text" name="client" ng-model="vm.formWizard.client">
                                </md-input-container>
                            </div>
                        </div>
                        <md-input-container class="md-block input-project">
                            <label translate="PROJECT.COMPANY_ADDRESS">Company Address</label>
                            <textarea name="company_address" ng-model="vm.formWizard.company_address"></textarea>
                        </md-input-container>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="wizardStep1.$invalid">
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep2.$invalid">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                    <span class="ms-form-wizard-step-text" translate="PROJECT.ATTENTION">Attention</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <!-- ปุ่มบวกสีแดง -->
                    <div layout="column" layout-gt-xs="row">
                        <div flex="100" class="text-right">
                            <md-button class="add-file-button md-fab md-warn" ng-click="addAttention()">
                                <md-icon md-font-icon="icon-plus" ng-hide="addAttenStatus"></md-icon>
                                <md-icon md-font-icon="icon-minus" ng-show="addAttenStatus"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <!-- ปิดปุ่ม -->
                    <form name="wizardStep2" class="form-wizardStep" ms-form-wizard-form novalidate>
                        <div layout="column" layout-gt-xs="row" ng-show="addAttenStatus">
                            <md-input-container flex="30" class="input-project">
                                <label translate="PROJECT.STATE">State</label>
                                <md-select ng-model="vm.formWizard2.CustomerStateName">
                                    <md-option ng-repeat="state in states" value="{{state}}">
                                        {{state}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="70" class="input-project">
                                <label translate="PROJECT.ATTENTION_NAME">Attention Name</label>
                                <input type="text" name="attention_name" ng-model="vm.formWizard2.CustomerName">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-wrap ng-show="addAttenStatus">
                            <md-input-container flex="50" class="input-project">
                                <label translate="PROJECT.POSITION">Position</label>
                                <input type="text" name="position" ng-model="vm.formWizard2.CustomerPosition">
                            </md-input-container>
                            <md-input-container flex="50" class="input-project">
                                <label translate="PROJECT.TEL">Tel</label>
                                <input type="tel" name="tel" ng-model="vm.formWizard2.CustomerTel">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-wrap ng-show="addAttenStatus">
                            <md-input-container flex="80" class="input-project">
                                <label translate="PROJECT.EMAIL">E-mail</label>
                                <input type="email" name="email" ng-model="vm.formWizard2.CustomerEmail" translate ng-pattern="/^.+@.+\..+$/">
                                <!-- เตือนemail -->
                                <div ng-messages="wizardStep2.email.$error" role="alert" multiple>
                                    <div ng-message="pattern">
                                        <span translate="PROJECT.EMAIL_VALID">Email must be a valid e-mail address</span>
                                    </div>
                                </div>
                                <!-- เตือนemail -->
                            </md-input-container>
                            <md-input-container flex="10" class="input-project">
                                <!-- iconลบ -->
                                <md-button class="md-icon-button">
                                    <md-icon md-font-icon="icon-account-remove" class="icon-remove" ng-click="removeAttention()"></md-icon>
                                </md-button>
                                <!-- iconลบ -->
                            </md-input-container>
                            <md-input-container flex="10" class="input-project">
                                <!-- iconเพิ่ม -->
                                <md-button class="md-icon-button" ng-click="attention()">
                                    <md-icon md-font-icon="icon-account-check" class="icon-add"></md-icon>
                                </md-button>
                                <!-- iconเพิ่ม -->
                            </md-input-container>
                        </div>
                        <div layout="row" layout-wrap></div>
                        <div layout="row" layout-wrap>
                            <div class="{{addAttenStatus == true ? 'div-atninfo2 scrollArea' : 'div-atninfo scrollArea'}}">
                                <table class="simple" ms-responsive-table ng-show="customerDetailInfo.length > 0">
                                    <thead>
                                        <tr>
                                            <th><strong>State</strong></th>
                                            <th><strong>Name</strong></th>
                                            <th><strong>Position</strong></th>
                                            <th><strong>Tel</strong></th>
                                            <th><strong>E-mail</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="atten in customerDetailInfo" ng-click="changeCustomerDetail(atten)">
                                            <td>{{atten.CustomerStateName}}</td>
                                            <td>{{atten.CustomerName}}</td>
                                            <td>{{atten.CustomerPosition}}</td>
                                            <td>{{atten.CustomerTel}}</td>
                                            <td>{{atten.CustomerEmail}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">3</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                    <span class="ms-form-wizard-step-text" translate="PROJECT.SCOPE_OF_WORK">Scope of work</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <div layout="column" layout-gt-xs="row">
                        <div flex="100" class="text-right">
                            <md-button class="add-file-button md-fab md-warn" ng-click="addScopeOfWork()">
                                <md-icon md-font-icon="icon-plus" ng-hide="scopeOfWorkStatus"></md-icon>
                                <md-icon md-font-icon="icon-minus" ng-show="scopeOfWorkStatus"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <form name="wizardStep3" class="form-wizardStep" ms-form-wizard-form novalidate>
                        <div layout="column" layout-gt-xs="row" ng-show="scopeOfWorkStatus">
                            <md-input-container flex="100" class="input-project">
                                <label translate="PROJECT.TOPIC">Topic</label>
                                <input type="text" name="Topic" ng-model="vm.formWizard3.Topic">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-wrap ng-show="scopeOfWorkStatus">
                            <md-input-container flex="100" class="md-block input-project">
                                <label translate="PROJECT.DETAIL">Detail</label>
                                <textarea ng-model="vm.formWizard3.Detail"></textarea>
                            </md-input-container>
                        </div>
                        <div layout="row" class="text-right" layout-wrap ng-show="scopeOfWorkStatus">
                            <md-input-container flex="80" class="input-project">
                            </md-input-container>
                            <md-input-container flex="10" class="input-project">
                                <md-button class="md-icon-button">
                                    <md-icon md-font-icon="icon-close-circle-outline" class="icon-remove" ng-click="removeScope()"></md-icon>
                                </md-button>
                            </md-input-container>
                            <md-input-container flex="10" class="input-project">
                                <md-button class="md-icon-button" ng-click="scopeOfWork()">
                                    <md-icon md-font-icon="icon-plus-circle-outline" class="icon-add"></md-icon>
                                </md-button>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-wrap></div>
                        <div layout="row" layout-wrap>
                            <div class="{{scopeOfWorkStatus == true ? 'div-sowinfo2 scrollArea' : 'div-sowinfo scrollArea'}}">
                                <table class="simple" ms-responsive-table ng-show="scopeOfWorkInfo.length > 0">
                                    <thead>
                                        <tr>
                                            <th><strong>Topic</strong></th>
                                            <th><strong>Detail</strong></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="scope in scopeOfWorkInfo" ng-click="changeScope(scope)">
                                            <td>{{$index + 1}}. {{scope.Topic}}</td>
                                            <td>{{scope.Detail}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        <div class="navigation btn-next" flex layout="row" layout-align="center center">
            <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()" ng-disabled="msWizard.isFirstStep()">
                Previous
            </md-button>
            <div class="steps">
                <span ng-repeat="form in msWizard.forms" ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
            </div>
            <md-button class="md-raised md-accent" ng-click="msWizard.nextStep();" ng-hide="msWizard.isLastStep()" ng-disabled="msWizard.currentStepInvalid()">
                Next
            </md-button>
            <md-button class="md-raised md-warn" ng-click="sendProject()" ng-show="msWizard.isLastStep()" ng-disabled="msWizard.formsIncomplete()">
                Send
            </md-button>
        </div>
    </ms-form-wizard>
</md-dialog>
